<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Types of Events</h2>
                    <h3 class="section-subheading text-muted">Our free events are facilitated by community members and center around our values of
                        practicality, diversity of perspectives, sharing resources, and cultural sensitivity.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Book Clubs</h4>
                    <p class="text-muted">The DDS book club brings together data lovers to explore the practice of data storytelling through the lens of authors in the field. We typically hold a book club quarterly- check out the newsletter for what we're reading next!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Presentations</h4>
                    <p class="text-muted">From Lunch and Learns to our annual 'Behind the Design' series, we regularly hold events to inform and inspire folks on all things data storytelling. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-beer fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Happy Hours</h4>
                    <p class="text-muted">Throughout the year, we host informal happy hours to bring together the denver data storytelling community.</p>
                </div>
            </div>
        </div>
    </section>